/* Global */

:root {
    --text-color: #f0f4f5;
    --background-color: #263544;
    --accent-color: #82b6ea;
    --font: 'Sunflower';
    --status: #34495e;
    --content: #495e72;
}

* {
    box-sizing: border-box;
    /* 테두리를 포함하여 박스의 크기를 지정하는 방식 */
}

body {
    margin: 0;
    /* 바깥여백을 없앤다. */
    font-family: var(--font);
    /* 폰트를 지정한다!. */
}

a {
    text-decoration: none;
    /* a 태그의 밑줄을 없앤다. */
    color: var(--text-color);
    /* 글자색 지정 */
}


/* Nav container */

.navbar {
    display: flex;
    /* 개체들을 정렬한다. flex-direction의 기본값은 row */
    justify-content: space-between;
    /* 가로로 균등하게 배분하여 정렬, space-between : 양 끝에서 기준 */
    align-items: center;
    /* 세로로 정렬, center : 가운데  */
    padding: 1vw 1.5vw;
    /* 안쪽 여백 지정, 위아래 8px, 왼쪽오른쪽 12px */
    background-color: var(--background-color);
    /* 배경색 지정 */
    height: 5vw;
}


/* Logo with text */

.navbar__logo {
    font-size: 1.5vw;
    /* 글자 크기 지정, 24px */
    color: var(--text-color);
    /* 글자색 지정 */
}

.navbar__logo i {
    color: var(--accent-color);
    /* 글자(아이콘)색 지정 */
}


/* Menu */

.navbar__menu {
    display: flex;
    /* 개체들을 정렬한다. flex-direction의 기본값은 row */
    padding-left: 0;
    /* 왼쪽에 생긴 여백을 없애줌 */
    list-style: none;
    /* li의 마크를 삭제 */
}

.navbar__menu a {
    font-size: 1.5vw;
    margin-right: 1vw;
}

.navbar__menu a li {
    padding: 8px 12px;
    /* 안쪽 여백 지정, 위아래 8px, 왼쪽오른쪽 12px */
}

.navbar__menu a li:hover {
    background-color: var(--accent-color);
    /* 배경색 지정 */
    border-radius: 1vw;
    /* 테두리 둥글게 지정, 4px */
}

.navbar__icons {
    font-size: 1.5vw;
    list-style: none;
    /* li의 마크를 삭제 */
    color: var(--text-color);
    /* 글자(아이콘)색 지정 */
    display: flex;
    /* 개체들을 정렬한다. flex-direction의 기본값은 row */
    padding-left: 0;
    /* 왼쪽에 생긴 여백을 없애줌 */
}


/* Icons */

.navbar__icons li {
    padding: 1vw 1.5vw;
    /* 안쪽 여백 지정, 위아래 8px, 왼쪽오른쪽 12px */
}

.navbar__icons i {
    color: var(--accent-color);
    /* 글자(아이콘)색 지정 */
}


/* Toggle button */

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 2vw;
    font-size: 24px;
    color: var(--accent-color);
}

#main {
    width: 90%;
    height: 100%;
    background-color: #82b6ea;
    margin: 0 auto;
    margin-top: 2vw;
    border-radius: 10px;
}

#main_img {
    text-align: center;
    font-size: 4vw;
}

#main_img img {
    width: auto;
    margin-top: 2vw;
    max-width: 70%;
    border-radius: 2vw;
}

#main_test {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 2vw;
    border-radius: 10px;
    background-color: #495e72;
    display: flex;
}

#section1 {
    width: 10%;
    padding: 1vw;
    text-align: center;
    /* background-color: aqua; */
}

#section1 ul {
    list-style: none;
    padding-left: 0;
}

#section1 ul li {
    padding: 5px 0px;
}

#section1 ul li:hover {
    background-color: #62b1c5;
    padding: 5px 0px;
}

#section2 {
    width: 90%;
    background-color: #82b6ea;
}

#section2 iframe {
    width: 100%;
    height: 2000px;
    border: 0;
}


/* For small screen */

@media screen and (max-width: 1300px) {
    .navbar__logo,
    .navbar__menu a {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    /* Nav container */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        height: 100%;
    }
    .navbar__logo {
        font-size: 20px;
    }
    /* Menu */
    .navbar__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar__menu a {
        font-size: 20px;
        /* Fill in an entire line so that user can click on any space */
        display: block;
    }
    /* Icons */
    .navbar__icons {
        font-size: 20px;
        display: none;
        justify-content: center;
        width: 100%;
    }
    /* Toggle button */
    .navbar__toggleBtn {
        display: block;
    }
    /* When toggle button is clicked - active state */
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
    #main {
        flex-direction: column;
        align-items: center;
    }
    #section1 ul li {
        font-size: 2vw;
    }
}